.vscode/
**/__pycache__/
datasets/*

/etc
/Include
/Lib
/R-library
/Scripts
/share
/pyvenv.cfg

src/design
src/notebooks/SIRIEMA.ipynb
.python-version
Dockerfile_cpu
Dockerfile_gpu
HOWTORUN
LICENSE
pyvenv.cfg
run_cpu_container.sh
run_gpu_container.sh
tensorflow_problem.sh